<!DOCTYPE html>
<html>
<head>
  <title>Mi página web</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
</head>
<body>
<div class="form-container">
  <div class="form">
    <div class="table">
      <h2>Formulario</h2>
      <div class="formulario">
        <form>


          <label for="unidad"><i class="bi bi-house"></i></label>
          <select class="in" id="unidad" name="unidad" required>
            <!-- Aquí debes cargar dinámicamente las propiedades desde la base de datos -->
            <option value="1">Unidad 1</option>
            <option value="2">Unidad2 2</option>
            <!-- Puedes agregar más opciones según las propiedades registradas -->
          </select>
          <br>

          <label for="nombre"><i class="bi bi-person-fill"></i></label>
          <input class="in" type="text" id="nombre" name="nombre" placeholder="Nombre">

          <br>
          <label for="tel"><i class="bi bi-telephone"></i></label>
          <input class="in" type="number" id="tel" name="tel"  placeholder="Télefono">
          <br>
          <label for="correo"><i class="bi bi-envelope"></i></label>
          <input class="in" type="num" id="correo" name="correo"  placeholder="Correo Electronico">
          <br>
          <br>
          <label ><i class="bi bi-calendar-week"></i></label>
          <input class="in"  type="date" class="form-control" id="fecha_pago" name="fecha_pago" required>
          <br>
        </form>
      </div>
    </div>
  </div>
  <div class="table">
    <h2>Historial de Residentes</h2>
    <table class="tabla">
      <thead>
      <tr class="primera">
        <th>Unidad</th>
        <th>Número Residente</th>
        <th>Teléfono de residente</th>
        <th>Correo electronico</th>
        <th>Fecha ingreso</th>
        <th>Actualizar</th>
        <th>Eliminar</th>

      </tr>
      </thead>
      <tbody>
      <!-- Aquí puedes añadir las filas de la tabla con los datos -->
      <!-- Ejemplo de fila de la tabla -->
      <tr>
        <td>Propiedad1</td>
        <td>56</td>
        <td>67m</td>
        <td>4</td>
        <td>3</td>
        <td><input type="submit" value="Actualizar"></td>
        <td><input type="reset" value="Eliminar"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
