<!DOCTYPE html>
<html>
<head>
  <title>Mi página web</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
</head>
<body>
<body class="form-container">
  <div class="form">
    <div class="table">
      <h2>Formulario</h2>
      <div class="formulario">
        <form>


          <label for="propiedad"><i class="bi bi-house"></i></label>
          <select class="in" id="propiedad" name="propiedad" required>
            <!-- Aquí debes cargar dinámicamente las propiedades desde la base de datos -->
            <option value="1">Propiedad 1</option>
            <option value="2">Propiedad 2</option>
            <!-- Puedes agregar más opciones según las propiedades registradas -->
          </select>
          <br>

          <label for="descripcion"><i class="bi bi-pencil-square"></i></label>
          <input class="in" type="text" id="descripcion" name="descripcion" placeholder="Descripción">

          <br>
          <label for="costo"><i class="bi bi-cash-stack"></i></label>
          <input class="in" type="text" id="costo" name="costo"  placeholder="Costo">

          <br>
          <label ><i class="bi bi-calendar-week"></i></label>
          <input class="in"  type="date" class="form-control" id="fecha_solicitud" name="fecha_solicitud" required>

          <br>
          <label for="estado"><i class="bi bi-file-check"></i></label>
          <input class="in" type="text" id="estado" name="estado"placeholder="Estado de Mantenimiento">
          <button type="submit" class="btn btn-primary">Registrar Mantenimiento</button>
        </form>
      </div>
    </div>
  </div>
</body>
