/* app.component.scss */
/* app.component.scss */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* Ajusta la altura según sea necesario */
    background-color: coral;
    color: white;
  }
  
  h2 {
    margin: 0; /* Elimina el margen predeterminado del h2 */
    font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' al tipo de letra que desees usar */

  }
  
  .formulario {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* You can customize these styles further based on your design preferences */
  /* app.component.scss */

/* app.component.scss */