<!-- editar-unidades.component.html -->
<div>
    <h2>Editar Unidad</h2>
  
    <form>
      <label>ID Propiedad:</label>
      <input type="number" [(ngModel)]="unidad.id_propiedad.id_propiedades" name="idPropiedad" />
  
      <label>Cantidad de Unidades:</label>
      <input type="number" [(ngModel)]="unidad.cantidad_unidades" name="cantidadUnidades" />
  
      <label>Metros cuadrados:</label>
      <input type="number" [(ngModel)]="unidad.metros_cuadrados" name="metrosCuadrados" />
  
      <label>Cantidad Habitaciones:</label>
      <input type="number" [(ngModel)]="unidad.cantidad_habitaciones" name="cantidadHabitaciones" />
  
      <!-- Agrega más campos según tus necesidades -->
  
      <button type="button" (click)="guardarCambios()">Guardar Cambios</button>
    </form>
  </div>
  